<h1 class="title">Resultados (<%= @users.total_count %>)</h1>
<hr/>

<div class="columns is-multiline">
  <% @users.each do |user|%>
  <div class="column is-4">
    <%= card(user) %>
  </div>
  <% end %>
</div>

<%= paginate @users, theme: 'bulma' %>
