<div class="content is-medium">
<h1>Directorio</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'directorio.png', size: '350x216' %>
</div>
</div>
<br/>
<p>El directorio permite buscar los egresados por <b>nombres</b>, <b>apellidos</b>, <b>empresa</b> y demás.</p>

<h1>Mapa</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'mapa.png'%>
</div>
</div>
<br/>
<p>Con el mapa se puede encontrar los egresados que viven cerca o por donde se encuentra tu futuro trabajo.</p>

<h1>CV Flash</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'cvs.png', size: '300x260' %>
</div>
</div>
<br/>
<p>Cada 3 meses podrás llenar una hoja de vida sencilla que se enviará a los cazatalentos.</p>

<h1>CV Book</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'diploma.jpg', size: '300x225' %>
</div>
</div>
<br/>
<p>Después de cada ceremonia de grados encontrarás un documento con todas las hojas de vida de los ingenieros de sistemas que se graduaron.</p>

</div>
