<div class="content is-medium">
<h1>Dirrectorio</h1>
<p>explicacion dirrectorio</p>
<%= link_to users_path, class: 'button is-primary' do %>
  <span class="icon is-small">
    <i class="fa fa-users"></i>
  </span>
  <span>Dirrectorio</span>
<% end %>

<h1>Mapa</h1>
<p>explicacion mapa</p>
<%= link_to users_map_path, class: 'button is-primary' do %>
  <span class="icon is-small">
    <i class="fa fa-map"></i>
  </span>
  <span>Mapa</span>
<% end %>

<h1>Trayectoria Profesional</h1>
<p>explicacion trayectoria profesional</p>

<h1>CV Flash</h1>
<p>explicacion CV Flash</p>

<h1>CV Book</h1>
<p>explicacion CV Book</p>

</div>
