<div class="content is-medium">
<h1>Dirrectorio</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'directorio', size: '350x216' %>
</div>
</div>
<br/>
<p>El dirrectorio permite buscar los egresados por <b>Nombre</b>, <b>Apellido</b>, <b>Empresa</b> y demas.</p>

<h1>Mapa</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'mapa'%>
</div>
</div>
<br/>
<p>Con el mapa se puede encontrar los egresados que viven cerca o por donde se encuentra tu futuro trabajo.</p>

<h1>CV Flash</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'cvs', size: '300x260' %>
</div>
</div>
<br/>
<p>Cada 3 meses podras llenar una hoja de vida sencilla que se enviara a los cazatalentos.</p>

<h1>CV Book</h1>
<div style="text-align:center;">
<div class="box" style="display: inline-block">
<%= image_tag 'diploma', size: '300x225' %>
</div>
</div>
<br/>
<p>Despues de cada ceremonia de grados encontraras un documento con todas las hojas de vida de los ingenieros de sistemas que se graudaron.</p>

</div>
